/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/ol/ol.css";
body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Arial";
}

.p-toolbar {
  width: 100%;
}

$button-large-icon-font-size: 1.4rem !default;


.fab-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  .p-button {
    width: 3.5rem !important;
    height: 3.5rem !important;
  }

}

.product-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  width: 100%;

  img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .product-category {
    vertical-align: middle;
    line-height: 1;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    flex-wrap: wrap;

    .image-container {
      width: 100%;
      text-align: center;
    }

    img {
      margin: 0 0 1rem 0;
      width: 100px;
    }
  }
}

